<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clever.mapper.UserMapper">
    <update id="updatePasswordErrorCount" parameterType="java.lang.String">
        update `clever-system`.user
        set password_error_num = password_error_num + 1
        where id = #{userId};
    </update>

    <select id="selectByAccountOrEmail" resultType="com.clever.bean.system.User">
        select *
        from `clever-system`.user
        where account = #{account}
           or email = #{email};
    </select>

    <update id="updateUserToAvailable" parameterType="java.lang.String">
        update user
        set status = 1
        where email = #{email}
          and status = 0;
    </update>
</mapper>